/* FileList view changes */
.files-filestable {
	tbody {
		tr {
			height: 68px !important;
			border-bottom: 1px solid #cccccc;
		}
	}
}

.files-controls .actions .button .icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 50px 40px;
}

.files-filestable:not(.view-grid) tbody tr:active,
.files-filestable:not(.view-grid) tbody tr:hover,
.files-filestable:not(.view-grid) tbody tr:focus,
.files-filestable:not(.view-grid) tbody tr.highlighted,
.files-filestable:not(.view-grid) tbody tr.highlighted .name:focus,
.files-filestable:not(.view-grid) tbody tr.selected,
.files-filestable:not(.view-grid) tbody tr.searchresult {
	background-color: rgb(242 242 242 / 50%) !important;
}

.files-filestable {
	&:not(.view-grid) {
		td {
			&.filesize {
				padding: 1.25rem 1rem;
			}
		}
	}
	.filesize {
		color: var(--scl-color-grey-90);
	}
}

.files-filestable tbody tr td.filesize, .files-filestable tbody tr td.date {
	text-align: right !important;
}

.files-filestable {
	th.column-mtime {
		a.columntitle {
			display: flex;
			flex-direction: row-reverse;
		}
	}
}

input[type="checkbox"].checkbox {
	& + label {
		&:before {
			border-radius: 3px !important;
			border: 1px solid var(--scl-color-grey-90) !important;
		}
	}
}

.files-filestable  tbody tr.highlighted .name:focus,
.files-filestable  tbody tr.searchresult {
	background-color: unset !important;
}

.files-filestable  {
	td {
		&.filename {
			.nametext {
				.innernametext {
					font-size: 16px !important;
					color: var(--scl-color-grey-90) !important;
					padding-left: 20px;
				}
			}
		}
	}
}

.files-filestable {
	th {
		.columntitle {
			&.name {
				margin-left: 3.625rem;
			}
		}
	}
}

.files-filestable {
	td {
		&.filename {
			.thumbnail {
				width: 44px !important;
				height: 44px !important;
				margin-top: 0.188rem;
				background-position: center center;
				background-size: 74px !important;
				border: none;
			}
		}
	}
}

.files-fileList {
	tr {
		td {
			&.filename {
				.favorite-mark {
					top: 27px;
					right: -11px;
				}
			}
		}
	}
}

.files-filestable {
	& > thead {
		& > tr {
			& > th {
				& > div {
					& > a {
						color: #f2f2f2 !important;
						&:hover {
							text-decoration: none !important;
						}
					}
				}
			}
		}
	}
}

.fileactions [class*=' icon-'] {
    min-width: 24px !important;
    min-height: 24px !important;
}

.filename {
	.fileactions {
		a {
			span {

				background-size: unset !important;
			}
		}
	}
}

.files-filestable {
	.fileactions {
		.icon-share-link {
			min-width: 20px !important;
			min-height: 20px !important;
			background-size: 20px !important;
		}
	}
}

.column-selection {
	input[type="checkbox"].checkbox {
		&:checked {
			& + label {
				&:before {
					background-color: #73C354 !important;
					border: 1px solid #73C354 !important;
					width: 24px !important;
					height: 24px !important;
					border-radius: 50px !important;
				}
			}
		}
	}
}

.selection {
	input[type="checkbox"].checkbox {
		&:checked {
			& + label {
				&:before {
					background-color: #73C354 !important;
					border: 1px solid #73C354 !important;
					width: 24px !important;
					height: 24px !important;
					border-radius: 50px !important;
				}
			}
		}
	}
	label {
		&:after {
			border: 2px solid #fff;
			border-top: none;
			border-right: none;
			content: "";
			height: 5px;
			left: 7px;
			opacity: 0;
			position: absolute;
			top: 8px;
			transform: rotate(-45deg);
			width: 14px;
		}
	}
}

.files-fileList {
	.action {
		&.action-share {
			&.permanent {
				&.shared-style {
					span {
						&:not(.icon) {
							overflow: unset !important;
							color: #E20074;
						}
					}
				}
			}
		}
	}
	td {
		a {
			a {
				&.action {
					&.action-share {
						&.shared-style {
							opacity: 0.7!important;
							display: flex;
							width: auto !important;
							height: 50px;
							flex-direction: row-reverse;
						}
					}
				}
			}
		}
	}
	tr {
		td {
			&.selection {
				& > .selectCheckBox {
					& + label {
						&:before {
							opacity: unset !important;
						}
					}
				}
			}
		}
	}
	.fileactions {
		display: inline-flex;
		align-items: center;
	}
}

.files-filestable {
	.date {
		span {
			color: #191919 !important;
			padding-right: 8px;
		}
	}
	.filesize {
		color: #191919 !important;
	}
}


.files-filestable {
	.icon-public {
		margin-bottom: 0.375rem;
	}
}

.files-fileList {
	td {
		a {
			a.action.action-menu {
				width: 32px;
				height: 48px;
				align-items: center;
				display: flex;
			}
			a.action.action-share {
				display: flex;
				width: 64px;
				height: 44px;
				align-items: center;
			}
			a.action {
				opacity: 0.7 !important;
			}
		}
	}
}

.files-filestable {
	tfoot {
		.filesummary {
			font-size: 14px;
			font-weight: normal;
            padding-left: 0 !important;
		}
		.summary {
			opacity: unset !important;
			.info {
				margin-left: 3.5rem;
			}
		}
	}
	&:not(.view-grid) {
		td.filesize {
			padding: 1.25rem 1rem;
		}
		td.date {
			padding: 0 1rem;
		}
	}
}

.files-fileList{
	td {
		a {
			a.action.action-menu {
				padding: 1.063rem 0 !important;
			}
			a.action.action-share {
				padding: 1rem !important;
			}
		}
	}
	.action.action-share.permanent.shared-style {
		span.icon-public {
			margin-left: 0.5rem !important;
		}
		span.avatar {
			margin-left: 0.5rem !important;
		}
	}
}

.fileactions {
	.icon-shared {
		margin-left: 0.5rem !important;
	}
}

.summary {
	td {
		padding-top: 1rem !important;
	}
}

.files-filestable .icon-public {
    background-image: var(--original-icon-shared-dark);
    filter: var(--color-background-magenta);
}

.files-filestable {
	.filename {
		.favorite-mark {
			.icon-starred {
				background-image: var(--icon-starred-yellow) !important;
				background-size: 24px;
				min-width: 24px !important;
				min-height: 24px !important;
			}
		}
	}
}

#view-toggle {
	border: none;
	position: sticky !important;
	display: block;
	background-color: transparent;
	left: 100%;
	z-index: 9999;
	opacity: 1;
	padding: 0;
	height: 24px;
	width: 24px;
	margin-right: 1rem;
	border-radius: 0;
	&:hover {
		filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
	}
}


/***************************************** File List Toggle View ******************************************************************/
li.action-details-container {
	display: none !important;
}

.files-filestable {
	th.column-mtime {
		a.columntitle {
			display: flex;
			flex-direction: row-reverse;
		}
	}
}

.files-filestable.view-grid {
	tbody {
		tr {
			height: 172px !important;
			border-bottom: unset !important;
			td {
				a {
					width: 160px;
				}
			}
		}
		height: unset !important;
		td.selection {
			top: 22px !important;
			left: unset !important;
			right: 22px;
			&:hover {
				opacity: 1;
			}
		}
		tr.selected {
			td.selection {
				opacity: 1 !important;
			}
		}
		td.filename {
			.thumbnail-wrapper {
				padding: 0px !important;
				.thumbnail {
					.favorite-mark {
						padding: 14px;
						left: 36px !important;
						top: 79px !important;
						right: unset !important;
					}
				}
			}
			.name {
				.nametext {
					margin-top: 133px !important;
					line-height: 1.2 !important;
				}
			}
		}
	}
	table {
		th {
			.columntitle.name {
				margin-left: 65px !important;
			}
		}
	}
	.thumbnail-wrapper {
		.thumbnail {
			width: 128px !important;
			height: 108px !important;
			margin: 16px !important;
			background-size: contain !important;
			border-radius: 2px !important;
		}
	}
	&:not(.hidden) {
		tbody {
			td.selection {
				label {
					box-sizing: unset !important;
					width: 54px;
					height: 54px;
					display: inline-block;
					padding: 0px !important;
				}
			}
			td.filename {
				.favorite-mark {
					label {
						box-sizing: unset !important;
						width: 54px;
						height: 54px;
						display: inline-block;
						padding: 0px !important;
					}
				}
				.name {
					.nametext {
						&:after {
							min-width: 30px !important;
						}
					}
					.fileactions {
						margin-top: 8.063rem !important;
					}
				}
			}
		}
	}
	td.filename {
		.nametext {
			.innernametext {
				padding: 0.5rem 0.188rem 1rem 0.188rem;
			}
		}
	}
}

.files-filestable.view-grid {
	.files-fileList{
		td.filename {
			input.filename {
				margin-left: 0 !important;
			}
		}
	}
	.thumbnail-wrapper {
		.thumbnail.thumbnail-contain {
			background-size: contain !important;
		}
	}
}

.column-mtime .sort-indicator {
    margin-right: 0.5rem;
    margin-top:0.4rem;
}


/***************************************** Mimetype icons & file list******************************************************************/

.files-fileList {
	[data-mime="text/plain"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="text/markdown"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/msword"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.oasis.opendocument.text"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.openxmlformats-officedocument.wordprocessingml.document"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.openxmlformats-officedocument.wordprocessingml.template"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.ms-excel"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/x-office-spreadsheet.svg') !important;
		}
	}
	[data-mime="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/x-office-spreadsheet.svg') !important;
		}
	}
	[data-mime="text/csv"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/x-office-spreadsheet.svg') !important;
		}
	}
	[data-mime="application/octet-stream"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/unknown-file.svg') !important;
		}
	}
	[data-icon="/index.php/apps/theming/img/core/filetypes/folder-public.svg?v=807bfe2a"] .thumbnail {
		background-image: url('../../core/img/filetypes/folder-shared.svg') !important;
	}	
}

.app-sidebar-header__figure[style='background-image: url("/index.php/apps/theming/img/core/filetypes/folder-public.svg?v=807bfe2a");']{
  background-image: url('../../core/img/filetypes/folder-shared.svg') !important;
}


/*conflict*/
.oc-conflict-pre-dlg-close-div {
	a {
		background: url('../../core/img/close.svg') no-repeat !important;
	}
}

.oc-conflict-pre-dlg-close-div {
	a {
		&:hover {
			background: url('../../core/img/close-magenta.svg') no-repeat !important;
		}
		&:active {
			background: url('../../core/img/close-magenta.svg') no-repeat !important;
		}
		&:focus {
			background: url('../../core/img/close-magenta.svg') no-repeat !important;
		}
	}
}

/* office new file creation */
.newFileMenu {
	.icon-filetype-document {
		background-image: url('../../core/img/office_icons_custom/file-text-24.svg') !important;
	}
	.icon-filetype-spreadsheet {
		background-image: url('../../core/img/office_icons_custom/file-calculation-24.svg') !important;
	}
	.icon-filetype-presentation {
		background-image: url('../../core/img/office_icons_custom/file-presentation-24.svg') !important;
	}
	.icon-filetype-draw {
		background-image: url('../../core/img/office_icons_custom/file-analytics-24.svg') !important;
	}
}


/* Office - graphics file icon grid view, sharing*/
.newFileMenu {
	.icon-filetype-draw {
		background-image: url('../../core/img/office_icons_custom/file-analytics-24.svg') !important;
		background-size: contain !important;
	}
}
#app-sidebar-vue[data-mimetype="application/vnd.oasis.opendocument.graphics"] {
	.app-sidebar-header__figure {
		background-image: url('../../core/img/office_icons_custom/file-analytics-24.svg') !important;
		background-size: contain !important;
	}
}
#app-sidebar-vue[data-mimetype="application/vnd.oasis.opendocument.graphics-flat-xml"] {
	.app-sidebar-header__figure {
		background-image: url('../../core/img/office_icons_custom/file-analytics-24.svg') !important;
		background-size: contain !important;
	}
}

.files-fileList {
	[data-mime="application/vnd.oasis.opendocument.graphics"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/file-analytics.svg') !important;
		}
	}
	[data-mime="application/vnd.oasis.opendocument.graphics-flat-xml"] {
		.thumbnail {
			background-image: url('../../core/img/filetypes/file-analytics.svg') !important;
		}
    }
}


#files-public-content {
	a[href$=".odg"] {
		.publicpreview {
			content: url("../../core/img/filetypes/file-analytics.svg");
		}
	}
}


/* Office- pdf file icon in sharing, grid view*/
#app-sidebar-vue[data-mimetype="application/pdf"] {
	.app-sidebar-header__figure {
		background-image: url('../../core/img/filetypes/application-pdf.svg') !important;
		width: 96px;
	}
}

/* Office- excel icon gridview and sharing*/

#files-public-content a[href$=".xlsx"] .publicpreview, #files-public-content a[href$=".ods"] .publicpreview{
	content:url("../../core/img/filetypes/x-office-spreadsheet.svg");
} 


#files-public-content {
	a[href$=".xlsx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".ods"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
}

/* Office - pdf gridview, sharing */

#files-public-content {
	a[href$=".pptx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
	a[href$=".odp"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
}



/* audio file icon in sharing view*/
#app-sidebar-vue[data-mimetype="audio/mpeg"] {
	.app-sidebar-header__figure {
		background-image: url('"../../core/img/filetypes/audio.svg') !important;
		width: 96px;
	}
}



/* Grid view Colloboara icons other formats */
.files-fileList {
	[data-mime="application/vnd.oasis.opendocument.text-flat-xml"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.ms-visio.drawing"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.wordperfect"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.openxmlformats-officedocument.wordprocessingml.template"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.ms-word.document.macroEnabled.12"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.visio"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.lotus-wordpro"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/vnd.ms-visio.drawing"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/msonenote"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}
	[data-mime="application/octet-stream"] {
		.thumbnail {
			background-image: url('"../../core/img/filetypes/text.svg') !important;
		}
	}	
}

/* Guest view Colloboara icons */
#files-public-content {
	a[href$=".docx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".doc"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".odt"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".fodt"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".lwp"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".vsd"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".vsdx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".wpd"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".one"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".dotx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".docm"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".rtf"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".svg"] {
		.publicpreview {
			content: url("../../core/img/filetypes/text.svg");
		}
	}
	a[href$=".xlsx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}

	a[href$=".ods"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".fods"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}

	a[href$=".csv"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".xltx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".xltm"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".xlam"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".xlsb"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".xls"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".xlsm"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-spreadsheet.svg");
		}
	}
	a[href$=".odg"] {
		.publicpreview {
			content: url("../../core/img/filetypes/file-analytics.svg");
		}
	}
	a[href$=".fodg"] {
		.publicpreview {
			content: url("../../core/img/filetypes/file-analytics.svg");
		}
	}
	a[href$=".pptx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
	a[href$=".odp"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
	a[href$=".fodp"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
	a[href$=".ppsx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
	a[href$=".potx"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
	a[href$=".ppam"] {
		.publicpreview {
			content: url("../../core/img/filetypes/x-office-presentation.svg");
		}
	}
}

/* Guest view Colloboara icons for hidedownload*/
#files-public-content {
	img[src$=".docx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".doc&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".odt&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".fodt&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".lwp&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".vsd&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".vsdx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".wpd&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".one&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".dotx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".docm&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".rtf&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/text.svg") !important;
	}
	img[src$=".xlsx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".ods&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".fods&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}	
	img[src$=".csv&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".xltx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".xltm&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".xlam&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".xlsb&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".fods&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".xls&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".xlsm&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-spreadsheet.svg") !important;
	}
	img[src$=".odg&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/file-analytics.svg") !important;
	}
	img[src$=".fodg&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/file-analytics.svg") !important;
	}
	img[src$=".pptx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-presentation.svg") !important;
	}
	img[src$=".odp&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-presentation.svg") !important;
	}
	img[src$=".fodp&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-presentation.svg") !important;
	}
	img[src$=".ppsx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-presentation.svg") !important;
	}
	img[src$=".potx&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-presentation.svg") !important;
	}
	img[src$=".ppam&scalingup=0"].publicpreview {
		content: url("../../core/img/filetypes/x-office-presentation.svg") !important;
	}
}

