/*File multiselection action*/
@media only screen and (max-width: 440px) {
	#selectedActionsList {
		.popovermenu {
			right: -85px;
			top: 20px;
		}
	}
}

@media only screen and (max-width: 480px) {
	table th .selectedActions {
		float: right;
    }
    table th .selectedActions a {
		padding: 17px 14px;
	}
	table th #selectedActionLabel a {
		padding: 17px 14px;
	}
	table th .columntitle.name {
		margin-left: 0;
	}
	table.multiselect th.column-name {
		padding-left: 0;
	}
    table th.column-name {
		padding-left: 24px;
	}
    #allLabel {
		display: none;
	}
	#selectedActionsList {
		.filesSelectionMenu {
			display: none !important;
		}
		.popovermenu {
			right: -70px;
			top: 25px;
		}
	}
	#selectedActionLabel {
		padding-right: 0px !important;
	}
	table.multiselect th .columntitle.name {
		padding-left: 0;
	}
}
