@media screen and (min-width: 1600px) {
	#app-content-files .files-fileList td a a.action.action-menu {
		display: none !important;
	}

	.files-filestable.view-grid tbody {
		row-gap: 13px !important;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1599px) {
	.files-fileList td a a.action.action-menu {
		display: none;
	}
	.files-filestable.view-grid tbody {
		row-gap: 0px !important;
	}
}

@media screen and (min-width: 1599px) {
	.files-fileList td a a.action.action-menu {
		display: none !important;
	}
}