@import 'styles.scss';
@import 'inputs.scss';
@import 'header.scss';
@import 'icons.scss';
@import 'apps.scss';
@import 'global.scss';
@import 'fixes.scss';
@import 'mobile.scss';
@import 'tooltip.scss';
// If you include .css, it will be imported as url
@import '../../node_modules/@nextcloud/dialogs/dist/index';
@import 'public.scss';


// Theming styling
@import 'theme.scss';
@import 'icons.scss';
@import 'variables.scss';
@import 'functions.scss';

@import 'fileconflict.scss';
@import 'file.scss';
@import 'files-nav.scss';
@import 'file-view.scss';
@import 'newfilemenu.scss';
@import 'search.scss';

// Responsive styling
@import 'mobile.scss';
