.update{
	background-color: unset;
}

.update .confirm-email-btn, .update .success-btn {
    font-family: TeleNeoWeb, TeleNeo, sans-serif !important;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #ffffff !important;
    color: #e20074 !important;
    padding: 0.625rem 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 16.25rem;
    height:3.125rem;
}

.update .confirm-email-btn:hover, .update .success-btn:hover {
  background: #ffffff !important;
  color: #e20074 !important;
}

.update p {
  margin: 0.625rem 0rem 0.625rem 0rem;
  color: #fff;
}
