.picker-window {
	background-color: unset;
}

.picker-window .login {
    font-family: TeleNeoWeb, TeleNeo, sans-serif !important;
    font-size: 1rem;
    line-height: 1.42857143;
    cursor: pointer;
    font-weight: 400;
    border-radius: 8px;
    background-color: #ffffff !important;
    background-image: unset !important;
    color: #e20074 !important;
    background-position: right 16px center;
}

.picker-window .login:hover {
  background: #ffffff !important;
  color: #e20074 !important;
}

.login-footer{display: none;}
.login-main {
  display: block !important;
  margin-top: 10rem !important;
}


@media screen and (max-width: 767px) {
  .login-main {
    height: 60vh !important;
  }

}
