/** icons**/

.icon-home {
    background-image: var(--icon-home-custom);
    width: 24px !important;
}

.icon-menu {
    background-image: var(--icon-menu-custom) !important;
}

.icon-add {
    background-image: var(--icon-breadcrumb-add-custom);
    opacity: 0.9 !important;
}

.icon-toggle-filelist {
    background-image: var(--icon-view-toggle-list-custom);
}

div.crumb {
    background-image: var(--icon-breadcrumb-custom);
}

.icon-toggle-pictures {
    background-image: var(--icon-view-toggle-custom) !important;
}


/**navigation-icons**/

#app-navigation .nav-icon-favorites {
    background-image: var(--icon-favourite-custom) !important;
}

#app-navigation .nav-icon-favorites:hover {
    background-image: var( --icon-fav-magenta) !important;
}

#app-navigation ul li .nav-icon-favorites.svg.active {
    background-image: var(--icon-fav-magenta) !important;
}

#app-navigation .nav-icon-files {
    background-image: var( --icon-folder-custom-nav) !important;
}

#app-navigation .nav-icon-files:hover {
    background-image: var( --icon-folder-magenta-nav) !important;
}

#app-navigation ul li .nav-icon-files.svg.active {
    background-image: var(--icon-folder-magenta-nav) !important;
}

#app-navigation .nav-icon-trashbin {
    background-image: var(--icon-delete-custom) !important;
}

#app-navigation .nav-icon-trashbin:hover {
    background-image: var(--icon-delete-magenta) !important;
}

#app-navigation ul li .nav-icon-trashbin.svg.active {
    background-image: var(--icon-delete-magenta) !important;
}


/** icons**/