/*** Right menuitems ***/

.material-design-icon__svg {
    display: none;
}

.unified-search__trigger {
    background-image: var(--right-menu-search-icon);
}

#expand {
    width: 100% !important;
}

#settings #expand {
    opacity: 1;
    padding-right: 0;
}

.username-lable {
    margin-right: auto;
    margin-left: .5rem;
    line-height: 0 !important;
}

.email-menu-text {
    font-size: 0.75rem;
    padding-top: 5px;
    line-height: 0px !important;
    margin-left: 0.5rem;
}

.menu-search-text {
    margin-left: 0.5rem;
    font-size: .75rem;
    font-weight: bold !important;
}

.right-menu-font {
    font-size: 12px;
    font-weight: bold !important;
}

.settingsdiv {
    line-height: 15px !important;
    padding-left: 0 !important;
}

#expand:hover span a,
#expand:hover svg g path {
    color: #E20074;
    fill: #E20074;
}

#contactsmenu:hover svg g,
#contactsmenu:hover a {
    color: #E20074;
    fill: #E20074;
}

.search-outer:hover .unified-search__trigger {
    background-image: var(--icon-search-magenta) !important;
}

.search-outer:hover span {
    color: #E20074;
}

#contactsmenu,
.search-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menutoggle {
    opacity: 1 !important;
    width: 1.5rem !important;
}

.header-menu__trigger {
    display: flex;
    width: 100% !important;
    cursor: pointer;
    opacity: 1 !important;
}

#contactsmenu {
    margin-right: 1.5rem;
}

.unified-search__trigger {
    width: 24px !important;
    height: 24px !important;
}

#unified-search {
    margin-right: .5rem;
    margin-right: 1.5rem;
}


/***  Right menuitems ***/


/*search popup*/

#header-menu-unified-search {
    width: 496px;
    max-width: unset;
    border-radius: 8px;
    box-shadow: var(--scl-shadow-level-2);
    padding: 14px;
}

#header-menu-unified-search .header-menu__content {
    max-width: unset;
    width: unset;
}

.unified-search__result {
    height: 48px !important;
}

.unified-search__results::before {
    font-weight: bold;
    font-size: 14px;
    font-family: TeleNeo, sans-serif;
    color: var(--scl-color-grey-90) !important;
    margin-top: 14px !important;
    margin-bottom: 8px !important;
}

.unified-search__result--focused,
.unified-search__result:active,
.unified-search__result:hover,
.unified-search__result:focus {
    background-color: var(--scl-color-grey-0) !important;
}

.empty-content__icon {
    width: 84px !important;
    height: 84px !important;
    background-size: 84px !important;
    opacity: unset !important;
    margin-bottom: 0px !important;
}

.icon-search {
    background-image: var(--icon-search-custom) !important;
}

.header-menu__carret {
    right: 15px !important;
}

.header-menu__wrapper {
    right: 0px !important;
    filter: unset !important;
}

.unified-search__result-line-two {
    font-size: 14px !important;
    color: var(--scl-color-grey-90) !important;
    opacity: unset !important;
}

.header-menu__content>ul>li:last-child>a:hover {
    color: unset !important;
    background-color: unset !important;
    text-decoration: none !important;
}

.header-menu__content ul li:last-child span {
    color: var(--scl-color-magenta);
}

.header-menu__content>ul>li:last-child>a>div {
    display: none;
}

.header-menu__content>ul>li:last-child>a {
    height: unset !important;
}

.unified-search__form-input,
.unified-search__form-reset {
    margin: 0px !important;
}

.unified-search .empty-content .empty-content__title {
    margin-top: 24px;
    margin-bottom: 0px;
}

.unified-search .empty-content {
    margin-top: 30px !important;
    margin-bottom: 34px !important;
}

.unified-search__result-content {
    padding-left: 1rem !important;
    align-items: center !important;
}

.header-menu--opened .unified-search__trigger {
    background-image: var(--icon-search-magenta) !important;
}

.header-menu--opened .menu-search-text {
    color: #E20074 !important;
}

.unified-search__form input:focus~.search-input-label,
.unified-search__form input:not(:focus):valid~.search-input-label {
    top: 25%;
    left: 12px;
    font-size: 0.625rem;
    opacity: 1;
    transform: translate(0px, -25%);
    bottom: 10px;
    padding: 0 !important;
    border-color: #e20074 !important;
    font-weight: 700;
    line-height: 00.75rem;
}

.unified-search__form input:focus,
.unified-search__form input:not(:focus):valid {
    border-color: #e20074 !important;
}

.unified-search__form-input {
    padding: 0.75rem 0.75rem 0 !important;
    height: 3rem !important;
    border-color: unset;
    border-radius: 4px;
}

.search-input-label {
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 50%;
    font-size: 13px;
    opacity: 1;
    transform: translate(0px, -50%);
    color: hsl(0, 0%, 40%);
    padding: 0 0.75rem 0 0;
    font-weight: 500;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.unified-search__form input:invalid {
    border-color: #dbdbdb;
}

.unified-search__form input::placeholder {
    color: transparent;
}