
#body-public{
	#header-primary-action{
		a{
		background: transparent;
		border: none;
		.gust-download-label {
			font-size: 20px;
			font-weight: bold;
			vertical-align: super !important;
		}
		}

	}
}
