/* Search related changes */

#header-menu-unified-search {
    width: 496px;
    max-width: unset;
    border-radius: 8px;
    box-shadow: var(--scl-shadow-level-2);
    padding: 14px;
    position: absolute;
}

.unified-search__result {
	height: 68px !important;
	align-items: center !important;
	border: unset !important;
	border-radius: unset !important;
	&:active {
		background-color: var(--scl-color-grey-0) !important;
	}
	&:hover {
		background-color: var(--scl-color-grey-0) !important;
	}
	&:focus {
		background-color: var(--scl-color-grey-0) !important;
	}
}

.unified-search__results-header {
		font-weight: bold !important;
		font-size: 14px !important;
		font-family: TeleNeo, sans-serif;;
		color: var(--scl-color-grey-90) !important;
		margin-top: 14px !important;
		margin-bottom: 8px !important;

}

.unified-search__result--focused {
	background-color: var(--scl-color-grey-0) !important;
}

#header-menu-unified-search .empty-content__icon {
	width: 84px !important;
	height: 84px !important;
	background-size: 84px !important;
	opacity: unset !important;
	margin-bottom: 0px !important;
	background-image: var(--icon-search-custom) !important;
}

#unified-search {

	.material-design-icon__svg{
		visibility: hidden !important;
	}
}

.header-menu__carret {
	right: 15px !important;
}

.header-menu__wrapper {
	right: 0px !important;
	filter: unset !important;
}

.unified-search__result-line-two {
	font-size: 14px !important;
	color: var(--scl-color-grey-90) !important;
	opacity: unset !important;
}

.header-menu__content {
	>ul {
		>li {
			&:last-child {
				>a {
					&:hover {
						color: unset !important;
						background-color: unset !important;
						text-decoration: none !important;
					}
					>div {
						display: none;
					}
					height: unset !important;
				}
			}
		}
	}
	ul {
		li {
			&:last-child {
				span {
					color: var(--color-background-plain);
					padding-left: 0 !important;
				}
			}
		}
	}
}

.unified-search__form-input {
	margin: 0px !important;
	padding: 0.5rem 0.75rem 0 !important;
	height: 3rem !important;
	border-color: unset !important;
	border-radius: 4px !important;
	font-size: 1rem !important;
}
.unified-search__form-reset {
	margin: 0px !important;
}
.unified-search {
	.empty-content {
		.empty-content__title {
			margin-top: 24px;
			margin-bottom: 0px;
		}
		margin-top: 30px !important;
		margin-bottom: 34px !important;
	}
}
.unified-search__result-content {
	padding-left: 1rem !important;
	align-items: center !important;
}
.header-menu--opened {
	.unified-search__trigger {
		filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
	}
	.menu-search-text {
		color: var(--color-background-plain) !important;
	}
}

.unified-search__form {
	input {
		&:focus~.search-input-label {
			top: 25%;
			left: 12px;
			font-size: 0.625rem;
			opacity: 1;
			transform: translate(0px, -25%);
			bottom: 10px;
			padding: 0 !important;
			border-color: var(--color-background-plain);
			font-weight: 700;
			line-height: 00.75rem;
		}
		&:not(:focus) {
			&:valid~.search-input-label {
				top: 25%;
				left: 12px;
				font-size: 0.625rem;
				opacity: 1;
				transform: translate(0px, -25%);
				bottom: 10px;
				padding: 0 !important;
				border-color: var(--color-background-plain);
				font-weight: 700;
				line-height: 00.75rem;
			}
			&:valid {
				border: 1px solid var(--color-background-plain);
			}
		}
		&:focus {
			border-color: var(--color-background-plain);
		}
		&:invalid {
			border: 1px solid #dbdbdb;
			border-color: #dbdbdb !important;
		}
		&::placeholder {
			color: transparent;
		}
	}
}
.search-input-label {
	position: absolute;
	pointer-events: none;
	left: 12px;
	top: 50%;
	opacity: 1;
	transform: translate(0px, -50%);
	color: hsl(0, 0%, 40%);
	padding: 0 0.75rem 0 0;
	font-weight: 500;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.unified-search__input-wrapper {
	input {
		&:hover {
			border-color: var(--color-background-plain) !important;
		}
	}
}

#header-menu-unified-search {
	.header-menu__content {
		max-width: unset !important;
		width: unset !important;
	}
}

#header-menu-unified-search .unified-search__input-wrapper label:first-child{
	display: none;
}

.unified-search__trigger {
	width: 24px !important;
	height: 24px !important;
	background-image: var(--right-menu-search-icon);
}

input:not([type=range],.input-field__input,[type=submit],[type=button],[type=reset],.multiselect__input,.select2-input,.action-input__input,[class^=vs__]){
	border: 1px solid #dbdbdb;
}
