/*---file-list-view-*/

#filestable tbody tr {
    height: 68px !important;
    border-bottom: 1px solid #cccccc;
}

#filestable:not(.view-grid) tbody tr:active,
#filestable:not(.view-grid) tbody tr:hover,
#filestable:not(.view-grid) tbody tr:focus,
#filestable:not(.view-grid) tbody tr.highlighted,
#filestable:not(.view-grid) tbody tr.highlighted .name:focus,
#filestable:not(.view-grid) tbody tr.selected,
#filestable:not(.view-grid) tbody tr.searchresult {
    background-color: rgb(242 242 242 / 50%) !important;
}

#filestable tbody tr td.filesize,
#filestable tbody tr td.date {
    text-align: right !important;
}

table th#headerDate {
    text-align: right !important;
}

#filestable tbody tr.canDrop {
    background-color: #f0f7e0 !important;
}

#filestable .headerSelection input[type='checkbox'].checkbox+label:before {
    margin: 0 3px 3px 3px;
}

#filestable #selectedActionsList {
    height: 40px !important;
}


#headerDate #headerSelection label {
    margin-left: 7px;
}

#filestable tbody tr.highlighted .name:focus,
#filestable tbody tr.searchresult {
    background-color: unset !important;
}

#filestable td.filename .nametext .innernametext {
    font-size: 16px !important;
    color: #191919 !important;
    padding-left: 20px;
    padding-top: 14px;
}

#filestable td.filename .thumbnail {
    width: 44px !important;
    height: 44px !important;
    margin-top: 4px;
    background-position: center center;
    background-size: 74px !important;
    border: none;
}

#fileList tr td.filename .favorite-mark {
    top: 27px;
    right: -11px;
}



#filestable span.extension {
    padding-top: 14px !important;
}

#filestable>thead>tr>th>div>a {
    color: #f2f2f2;
}

#filestable>thead>tr>th>div>a:hover {
    text-decoration: none !important;
}

#filestable>thead>tr>th>div>a {
    color: #f2f2f2 !important;
}

#filestable th .columntitle.name {
    margin-left: 3.625rem;
}

table.multiselect th .columntitle.name {
  padding-left: 1.5rem !important;
  margin:0 !important;
}

table.multiselect thead #selectedMenu {
  width: 100% !important;
}

.unified-search__input-wrapper input:hover{
  border-color: #e20074 !important;
}

#filestable tbody {
    display: table;
    width: 100%;
}

#filestable input[type='checkbox'].checkbox+label:before {
    margin: 0 0 0.25rem 0 !important;
}

.filename .fileactions a span {
    vertical-align: sub !important;
    background-size: unset !important;
}

.fileactions [class*=' icon-'] {
    min-width: 24px !important;
    min-height: 24px !important;
}

#filestable .fileactions .icon-share-link  {
  min-width: 20px !important;
  min-height: 20px !important;
  background-size: 20px !important;
}

#filestable .fileactions .icon-share-magenta-user {
  margin-left:0.5rem;
}
#filestable:not(.view-grid) tr td.selection>.selectCheckBox+label {
    width: 54px;
    padding: 1rem 0rem !important;
    display: inline-block !important;
}

#app-content-trashbin #filestable th .columntitle.name {
    margin-left: 4.5rem;
}

#app-content-trashbin table.multiselect th .columntitle.name {
    margin-left: 0 !important;
}

#app-content-sharingout #filestable th .columntitle.name,
#app-content-sharingin #filestable th .columntitle.name,
#app-content-favorites #filestable th .columntitle.name
{
    margin-left: 5.625rem !important;
}

.select-all+label {
    width: 54px;
    height: 52px;
    padding: 1rem 0rem !important;
    display: inline-block !important;
    text-align: center;
}

.column-selection input[type="checkbox"].checkbox:checked+label:before {
    background-color: #73C354 !important;
    border: 1px solid #73C354 !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50px !important;
}

.selection input[type="checkbox"].checkbox:checked+label:before {
    background-color: #73C354 !important;
    border: 1px solid #73C354 !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50px !important;
}

#filestable input[type='checkbox'].checkbox:checked+label:before {
    background-image: var(--icon-checkbox-checkmark) !important;
    background-position: -26% 13%;
    box-sizing: border-box;
}

#fileList tr td.selection>.selectCheckBox+label:before {
    opacity: unset !important;
}

.selection label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 14px;
}

#fileList .action.action-share.permanent.shared-style span:not(.icon) {
    color: #E20074;
}

#fileList .fileactions {
    display: inline-flex;
    align-items: center;
}

#filestable .date span {
    color: #191919 !important;
    padding-right: 8px;
}

#filestable .filesize {
    color: #191919 !important;
}

#fileList td a a.action.action-share.shared-style {
    opacity: 0.7!important;
    display: flex;
    width: 130px;
    height: 50px;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#fileList td a a.action.action-menu {
    width: 32px;
    height: 48px;
    align-items: center;
    display: flex;
}

#fileList td a a.action.action-share {
    display: flex;
    width:64px;
    height: 44px;
    align-items: center;
}

#fileList td a a.action {
    opacity: 0.7 !important;
}

#filestable tfoot .filesummary {
    font-size: 14px !important;
    color: #666666 !important;
    font-weight: normal;
}

#filestable tfoot .summary {
    opacity: unset !important;
}

#filestable tfoot .summary .info {
    margin-left: 4.125rem;
}

#filestable:not(.view-grid) td.filesize {
    padding: 1.25rem 1rem !important;
}

#filestable:not(.view-grid) td.date {
    padding: 0 1rem !important;
}

#fileList td a a.action.action-menu {
    padding: 1.063rem 0 !important;
}

#fileList td a a.action.action-share {
    padding: 1.063rem 1rem !important;
}


#fileList .action.action-share.permanent.shared-style span.icon-public,
#fileList .action.action-share.permanent.shared-style span.avatar,
.fileactions .icon-shared{
    margin-left: 0.5rem !important;
}

.summary td {
  padding-top:1rem !important;
}

/***************************************** List view sorting ******************************************************************/

table th .sort-indicator {
    width: 10px;
    height: 8px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
}

.span-visibility,
.item-toggleSelectionMode{
    display: none !important;
}

#filestable .icon-public {
    background-image: var(--icon-user-e20074);
}

.zero-font {
    font-size: 0;
}

#headerName .sort-indicator {
    width: 10px;
    height: 8px;
    margin-left: -4.125rem;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
}

#headerSize .sort-indicator {
    width: 10px;
    height: 8px;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
}

#headerDate .sort-indicator {
    width: 10px;
    height: 8px;
    margin-left: -85px;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
}

#app-content-sharingout #headerDate .sort-indicator {
    width: 10px;
    height: 8px;
    margin-left: 0;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: unset !important;
}

#filestable .filename .favorite-mark .icon-starred {
    background-image: var( --icon-yellow-fav) !important;
    background-size: 24px;
    min-width: 24px !important;
    min-height: 24px !important;
}

#view-toggle {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0.6rem;
    right: 0;
    z-index: 999;
    opacity: 1;
    padding: 0;
    height: 24px;
    width: 24px;
    margin-right: 1rem;
    border-radius: 0;
}

#view-toggle:hover,
.icon-delete:hover,
a.menu-option:hover>span,
a.menuitem.action:hover>span,
.icon-home:hover,
.filesSelectionMenu ul li,
#selectedActionLabel a {
    filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
}

#app-content-sharingin #headerSize .size.sort.columntitle {
  width: auto !important;
  margin-right:1.25rem;
}

/***************************************** File List Toggle View ******************************************************************/
li.action-details-container {
  display: none !important;
}

#filestable th a#modified {
    display: flex;
    flex-direction: row-reverse;
}

#filestable.view-grid tbody tr {
    height: 172px !important;
}

#filestable.view-grid tbody {
    height: unset !important;
}

#filestable.view-grid table th .columntitle.name {
    margin-left: 65px !important;
}

#filestable.view-grid tbody tr {
    border-bottom: unset !important;
}

#filestable.view-grid tbody td.selection {
    top: 20px !important;
    left: unset !important;
    right: 12px;
}

#filestable.view-grid tbody tr.selected td.selection {
    opacity: 1 !important;
}

#filestable.view-grid tbody td.selection:hover {
    opacity: 1;
}

#filestable.view-grid tbody td.filename .thumbnail-wrapper {
    padding: 0px !important;
}

#filestable.view-grid .thumbnail-wrapper .thumbnail {
    width: 128px !important;
    height: 108px !important;
    margin: 16px !important;
    background-size: cover !important;
    border-radius: 2px !important;
}

#filestable.view-grid tbody tr td a {
    width: 160px;
}

#filestable.view-grid:not(.hidden) tbody td.selection label,
#filestable.view-grid:not(.hidden) tbody td.filename .favorite-mark label {
    box-sizing: unset !important;
}

#filestable.view-grid tbody td.filename .name .nametext {
    margin-top: 133px !important;
}

#filestable.view-grid tbody td.filename .thumbnail-wrapper .thumbnail .favorite-mark {
    padding: 14px;
    left: 36px !important;
    top: 79px !important;
    right: unset !important;
}

#filestable.view-grid td.filename .nametext .innernametext {
    padding: 0.5rem 0.188rem 1rem 0.188rem;
}

#filestable.view-grid:not(.hidden) tbody td.filename .name .nametext:after {
    min-width: 30px !important;
}

#filestable.view-grid:not(.hidden) tbody td.selection label,
#filestable.view-grid:not(.hidden) tbody td.filename .favorite-mark label {
    width: 54px;
    height: 54px;
    display: inline-block;
    padding: 0px !important;
}

#filestable.view-grid:not(.hidden) tbody td.filename .name .fileactions {
    margin-top: 8.063rem !important;
}


/*flexbox-change-properties-for-thumbnail-labels*/

#filestable.view-grid tfoot .summary {
    margin-left: 0px !important;
}

.popovermenu li>a,
.popovermenu li>.menuitem {
    align-items: center !important;
}

#selectedActionsList .popovermenu {
    border-radius: 8px !important;
    box-shadow: var(--scl-shadow-level-2) !important;
    padding: 0.875rem 0.5rem !important;
}

.selectedActions a {
    opacity: unset !important;
    line-height: 2.5rem;
}

.selectedActions .filesSelectionMenu a .label {
    font-size: 0.875rem;
}

.selectedActions a .label {
    padding-left: 0.5rem;
}

table.multiselect #modified {
    display: none !important;
}

#filestable .selectedActions .filesSelectionMenu a .icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
}

#selectedActionsList .popovermenu {
    top: 45px;
}

#headerSize {
    padding-left: 4rem;
}

#allLabel {
    padding-left: 10px;
    color: var(--scl-color-grey-90);
    padding-top: 0;
}

#selectedActionLabel {
    padding-right: 0.5rem !important;
}

#emptycontent [class^='icon-'],
#emptycontent [class*='icon-'],
.emptycontent [class^='icon-'],
.emptycontent [class*='icon-'] {
    background-size: 192px;
    height: 192px;
    width: 192px;
    margin: 0 auto !important;
}

#emptycontent .icon-filetype-folder .guest-emptycontent h2:nth-child(1) {
    margin: 1rem 0 !important;
}

#emptycontent h2 {
    font-size: 1.25rem !important;
}

#emptycontent h2:nth-child(3) {
    margin-bottom: 0.5rem !important;
    font-weight: normal !important;
}

#emptycontent h2:nth-child(2) {
    margin-bottom: 1rem !important;
}

#emptycontent p {
    font-size: 1.25rem !important;
    font-weight: normal !important;
}

#emptycontent .icon-folder,
.icon-filetype-folder {
    background-image: var( --icon-folder-empty) !important;
}

#emptycontent h2,
.emptycontent h2 {
    margin-bottom: 0 !important;
}

#emptycontent .hidden {
    font-size: 1.25rem !important;
}

#app-content-trashbin #emptycontent [class^='icon-']:not([class^='icon-loading']),
#app-content-trashbin #emptycontent [class^='icon-']:not([class*='icon-loading']),
#app-content-trashbin #emptycontent [class*='icon-']:not([class^='icon-loading']),
#app-content-trashbin #emptycontent [class*='icon-']:not([class*='icon-loading']),
#app-content-sharingin #emptycontent [class^='icon-']:not([class^='icon-loading']),
#app-content-sharingin #emptycontent [class^='icon-']:not([class*='icon-loading']),
#app-content-sharingin #emptycontent [class*='icon-']:not([class^='icon-loading']),
#app-content-sharingin #emptycontent [class*='icon-']:not([class*='icon-loading']),
#app-content-sharingout #emptycontent [class^='icon-']:not([class^='icon-loading']),
#app-content-sharingout #emptycontent [class^='icon-']:not([class*='icon-loading']),
#app-content-sharingout #emptycontent [class*='icon-']:not([class^='icon-loading']),
#app-content-sharingout #emptycontent [class*='icon-']:not([class*='icon-loading']) {
    opacity: unset !important;
}

#app-content-trashbin #emptycontent [class^='icon-'],
#app-content-trashbin #emptycontent [class*='icon-'],
#app-content-sharingin #emptycontent [class^='icon-'],
#app-content-sharingin #emptycontent [class*='icon-'],
#app-content-sharingout #emptycontent [class^='icon-'],
#app-content-sharingout #emptycontent [class*='icon-'] {
    background-size: 120px;
    height: 7.5rem;
    width: 7.5rem;
    margin: 0 auto !important;
}

#app-content-trashbin #emptycontent h2,
#app-content-sharingin #emptycontent h2,
#app-content-sharingout #emptycontent h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem !important;
}

#app-content-trashbin #emptycontent .icon-delete:hover {
    filter: none !important;
}

.size.columntitle {
  display: flex;
  flex-direction: row-reverse;
}

.columntitle:hover span {
  color:#e20074 !important;
}

 table th.column-mtime {
  max-width: unset !important;
}

/*received-shares*/

.fileactions .action .avatar img,
.action .avatardiv img {
    display: none !important;
}

.fileactions .action.action-share.permanent.shared-style .avatar {
    height: 24px !important;
    width: 24px !important;
    margin: 0 !important;
    background-image: var(--icon-cloud-blue) !important;
    background-repeat: no-repeat;
}

#fileList .action.action-share.permanent.shared-style span:not(.icon) {
  max-width:80px !important;
}

#fileList .action.action-share.permanent.shared-style span:not(.icon) {
    overflow: unset !important;
}

#fileList span.receiveData {
    color: #0099ff !important;
}

.tooltip {
    filter: unset !important;
}

.action-share span.avatar{
    background-color: unset !important;
    color: unset !important;
    font-weight: unset !important;
    text-align: unset !important;
    line-height: unset !important;
    font-size: unset !important;
}

#fileList .action.action-share.permanent.shared-style .icon-shared{
    filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
}

#fileList tr td.selection .selectCheckBox:focus+label, .select-all:focus+label {
    background-color: unset !important;
}

#filestable .filesummary {
    padding-left: unset !important;
}

#fileList td.filename input.filename{
    margin-left: 4.063rem !important;
}

.item-cancel a .label {
    color: var(--scl-color-grey-90);
}

.item-cancel .icon-close {
    filter: unset;
}

#fileList td a a.action-restore {
   display: flex;
   width:auto;
   padding:0 !important;
   flex-direction: row-reverse;
   align-items: center !important;
}

#filestable .filename .fileactions a.action-restore span:not(.icon) {
  color:#e20074 !important;
}

#fileList .icon-history {
  margin:0 0.5rem !important;
  background-position-y:-1px !important;
}

#app-content-trashbin .selectedActions{
  position: unset;
}

#oc-dialog-0-content {
  margin-bottom: 1.5rem;
}

.oc-dialog-buttonrow.twobuttons {
  justify-content: end;
}

#app-content-sharingout .info,
#app-content-sharingin .info,
#app-content-favorites .info {
  margin-left:0.75rem !important;
}

#app-content-trashbin #headerName-container .headerSizeOpen, #app-content-trashbin  #headerName-container #headerSizeCount {
  display: none;
}

#app-content-trashbin #selectedActionsList .popovermenu {
  right: 0;
}

.actions-selected span:nth-child(2){
  font-size: 14px !important;
}

/* Zipper-app */
.oc-dialog-content input {
  width:509px !important;
  margin:1rem 0 1.5rem 0;
}


