/*****footer******/

.brand-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: TeleNeo, sans-serif;
    font-size: 14px;
    background-color: var(--scl-color-white);
    color: var(--scl-color-grey-10);
    z-index: 4999;
    border-top: 2px solid var(--scl-color-grey-10);
}

.brand-footer .brand-footer-bar {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand-footer .brand-footer-bar-text {
    color: #666666 !important;
    margin-left: 15px;
}

.brand-footer .brand-footer-nav {
    display: flex;
    flex-wrap: wrap;
}

.brand-footer .brand-footer-nav li {
    margin: 0 15px;
}

/* .brand-footer .brand-footer-nav li:last-child {
    margin: 0
} */

.brand-footer .brand-footer-nav a,
.brand-footer .brand-footer-nav a:active,
.brand-footer .brand-footer-nav a:focus,
.brand-footer .brand-footer-nav a:hover {
    color: #666666;
    background: transparent;
}

.brand-footer .brand-footer-bar a:hover {
    text-decoration: underline;
}

.login-footer {
    background: no-repeat;
    color: #fff;
    border: none;
    position: relative;
    height: auto;
}

.login-footer .brand-footer-bar-text {
    color: #fff !important;
}

.login-footer .brand-footer-nav a {
    font-weight: 400 !important;
}


/****footer*****/
