/** icons**/

.icon-home {
    background-image: var(--icon-home-custom);
    width: 24px !important;
}

.icon-menu,
.icon-more-white {
    background-image: var(--icon-menu-custom) !important;
}

.icon-add {
    background-image: var(--icon-breadcrumb-add-custom) !important;
    opacity: 0.9 !important;
}

.icon-toggle-filelist {
    background-image: var(--icon-view-toggle-list-custom);
}

div.crumb {
    background-image: var(--icon-breadcrumb-custom);
}

.icon-toggle-pictures {
    background-image: var(--icon-view-toggle-custom) !important;
}

.icon-quote {
    background-image: var(--icon-quote-custom) !important;
}

.icon-quote:hover {
    background-image: var(--icon-quote-magenta) !important;
}

.icon-code {
    background-image: var(--icon-code-custom) !important;
}

.icon-code:hover {
    background-image: var(--icon-code-magenta) !important;
}

.icon-ul {
    background-image: var(--icon-ul-custom) !important;
}

.icon-ul:hover {
    background-image: var(--icon-ul-magenta) !important;
}

.icon-ol {
    background-image: var(--icon-ol-custom) !important;
}

.icon-ol:hover {
    background-image: var(--icon-ol-magenta) !important;
}

.icon-undo {
    background-image: var(--icon-backward-custom) !important;
}

.icon-undo:hover {
    background-image: var(--icon-backward-magenta) !important;
}

.icon-redo,
.icon-confirm {
    background-image: var(--icon-forward-custom) !important;
    opacity: 1 !important;
}

.icon-redo:hover {
    background-image: var(--icon-forward-magenta) !important;
}

.icon-bold {
    background-image: var(--icon-bold-custom) !important;
}

.icon-bold:hover {
    background-image: var(--icon-bold-magenta) !important;
}

.icon-h1 {
    background-image: var(--icon-h1-custom) !important;
}

.icon-checkmark {
    background-image: var( --icon-checkbox-custom) !important;
}

.icon-checkmark:hover {
    background-image: var( --icon-checkbox-magenta) !important;
}

.icon-italic {
    background-image: var(--icon-italic-custom) !important;
}

.icon-italic:hover {
    background-image: var(--icon-italic-magenta) !important;
}

.icon-image {
    background-image: var(--icon-image-custom) !important;
}

.icon-image:hover {
    background-image: var(--icon-image-magenta) !important;
}

.icon-strike {
    background-image: var(--icon-strike-custom) !important;
}

.icon-strike:hover {
    background-image: var(--icon-strike-magenta) !important;
}

.icon-h2 {
    background-image: var(--icon-h2-custom) !important;
}

.icon-h3 {
    background-image: var(--icon-h3-custom) !important;
}

.icon-h4 {
    background-image: var(--icon-h4-custom) !important;
}

.icon-h5 {
    background-image: var(--icon-h5-custom) !important;
}

.icon-h6 {
    background-image: var(--icon-h6-custom) !important;
}

.newFileMenu .icon-upload {
    background-image: var(--icon-upload-custom) !important;
    background-size: 24px !important;
}

.newFileMenu .icon-folder,
.icon-filetype-folder {
    background-image: var(--icon-new-folder) !important;
    background-size: 24px !important;
}

.newFileMenu .icon-filetype-text {
    background-image: var(--icon-text-custom) !important;
    background-size: 24px !important;
}

.submenu .popovermenu li:nth-child(1) .menuitem:hover .icon-h1 {
    background-image: var(--icon-h1-magenta) !important;
}

.submenu .popovermenu li:nth-child(2) .menuitem:hover .icon-h2 {
    background-image: var(--icon-h2-magenta) !important;
}

.submenu .popovermenu li:nth-child(3) .menuitem:hover .icon-h3 {
    background-image: var(--icon-h3-magenta) !important;
}

.submenu .popovermenu li:nth-child(4) .menuitem:hover .icon-h4 {
    background-image: var(--icon-h4-magenta) !important;
}

.submenu .popovermenu li:nth-child(5) .menuitem:hover .icon-h5 {
    background-image: var(--icon-h5-magenta) !important;
}

.submenu .popovermenu li:nth-child(6) .menuitem:hover .icon-h6 {
    background-image: var(--icon-h6-magenta) !important;
}

.action-item__menutoggle--default-icon {
    background-image: var(--icon-menutoggle-custom);
    background-repeat: no-repeat;
}


/**navigation-icons**/

#app-navigation .nav-icon-favorites {
    background-image: var(--icon-favourite-custom) !important;
}

#app-navigation .nav-icon-favorites:hover {
    background-image: var( --icon-fav-magenta) !important;
}

#app-navigation .nav-icon-favorites.svg.active {
    background-image: var(--icon-fav-magenta) !important;
}

#app-navigation .nav-icon-files {
    background-image: var( --icon-folder-custom-nav) !important;
}

#app-navigation .nav-icon-files:hover {
    background-image: var( --icon-folder-magenta-nav) !important;
}

#app-navigation .nav-icon-files.svg.active {
    background-image: var(--icon-folder-magenta-nav) !important;
}

#app-navigation .nav-icon-trashbin {
    background-image: var(--icon-delete-custom) !important;
}

#app-navigation .nav-icon-trashbin:hover {
    background-image: var(--icon-delete-magenta) !important;
}

#app-navigation .nav-icon-trashbin.svg.active {
    background-image: var(--icon-delete-magenta) !important;
}

#navigation[style=''] ~ #more-apps .icon-more-white{
  background-image: var(--icon-close-custom) !important;
  filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
}


/** icons**/
