  #app-navigation.without-app-settings li:hover span,
  #app-navigation.without-app-settings li.active span{
    color:#e20074 !important;
  }

  #personal-settings {
    display: flex !important;
    padding:3rem 1rem !important;
    grid-template-columns: unset !important
  }
  #personal-settings-avatar-container {
    display: flex !important;
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
    vertical-align: unset !important;
    flex-direction: column;
  }
  .personal-settings-container,
  .profile-settings-container {
    display: flex;
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
    flex-wrap:wrap;
  }
 #personal-settings-avatar-container h3{
    margin:unset !important;
    color:#191919 !important;
    font-weight: bold;
    font-size:1.25rem;
  }
  #personal-settings .section {
    padding:1rem 0 !important;
  }
  #personal-settings label{
    margin-bottom: 0.25rem;
  }
  #personal-settings .personal-settings-language-box .section{
    padding:0 !important;
  }
  #personal-settings .personal-settings-group-box{
    padding:3rem 0 !important;
  }
  .personal-settings-setting-box h3{
    font-size:1rem !important;
    color:#666666 !important;
    font-weight:normal !important;
  }

  .personal-settings-setting-box .section input[type='text'],
  .personal-settings-setting-box .section input[type='email'],
  #webdav-address input[type='text'],
  #security input[type='text']
  {
    width: 400px;
    height:48px !important;
    padding:0.75rem 0.75rem 0.75rem 0.688rem !important;
    background-color: #e5e5e5;
    border:1px solid #e5e5e5;
    font-family: TeleNeoWeb, TeleNeo, sans-serif;
  }

  select#languageinput{
    width: 400px ;
    height:48px !important;
    padding:0.75rem 0.75rem 0.75rem 0.688rem;
    background-color: #ffffff;
    border:1px solid #191919;
    font-family: TeleNeoWeb, TeleNeo, sans-serif;
  }
  .personal-settings-setting-box{
    margin-right:32px;
  }

  #personal-settings #app-sidebar,
  .personal-settings-language-box em,
  .federation-menu,
  #emailform em,
  #body-settings #app-sidebar{
    display:none;
  }
  .telekom-link a{
    color: #e20074;
  }
  .personal-settings-group-box b{
    font-size:1.25rem;
    color:#191919;
  }
  #personal-settings .personal-info {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
  .quotatext-bg{
    margin-bottom:0.5rem !important;
  }
  .telekom-link .icon-quota{
    background-image: unset !important;
  }

  #personal-settings .personal-info[class^='icon-'],
  #personal-settings .personal-info[class*=' icon-'] {
    padding-left:0 !important
  }

  .extra-details{
    margin-bottom: 1.5rem;
  }

  .extra-details strong {
    margin-left:0.5rem;
  }

  .extra-details #files,
  .extra-details #photos,
  .extra-details #backup,
  .extra-details #bin{
    border-radius:30px;
    width:16px;
    height:8px;
    display:inline-block;
    margin:0.125rem 0.25rem;
  }

  .files-usage{
    background-color: #22adb9;
  }
  .photos-usage{
    background-color: #b682bd;
  }
  .backup-usage{
    background-color: #828ac4;
  }
  .bin-usage{
    background-color: #fc9a55;
  }

  #tarrifInfo{
    margin-bottom:1.25rem;
  }

  #tarrifInfo b{
  font-size:1.25rem;
  margin-bottom:0.5rem;
  }

  #tarrifInfo button{
    height:40px;
    padding:0 1.5rem;
    background-color: #ffffff;
    border-color: #191919;
    color:#191919;
    border-radius: 4px;
    font-family: TeleNeoWeb, TeleNeo, sans-serif;
    font-size: 1rem;
    margin:1rem 0 0 0;
    font-weight: normal;
  }
  #tarrifInfo button:hover{
    border:1px solid #e20074 !important;
    color:#e20074 !important;
  }
  .recycle-para {
    margin-top:1.5rem !important;
  }

  .telekom-link p label a:hover {
  text-decoration: underline !important;
  }

  /* Activity Notifications*/

  #activity_notifications{
    padding-top: 0.25rem;
    max-width: 600px;
    margin-bottom: 8rem;
    border-bottom: none;
  }

  #activity_notifications table{
    border-collapse: collapse;
    max-width:unset !important;
    width: 100% !important;
    margin-top: 2rem;
  }
  #activity_notifications table tr{
    border-bottom: 1px solid #e5e5e5;
  }
  #activity_notifications table td strong {
    font-weight: 400;
  }

  #activity_notifications h1 {
    font-size: 20px;
    font-weight: bold;
    color: #191919;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  #activity_notifications table th {
    background: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0.5rem;
  }

  #activity_notifications table td{
    padding: 1rem 0.5rem;
  }

  #activity_notifications .mails-report-section p {
    color: #666666;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

#activity_notifications #notify_setting_batchtime {
  margin-top: 0.5rem;
}

input[type='checkbox'].checkbox:checked + label:before{
  background-color: #e20074;
  border-color:#e20074 !important;
}

input[type='checkbox'].checkbox:checked:disabled + label:before{
  border-color:#bababa !important;
}

/* Activity Notifications*/

  #tarrifInfo h4{
  margin-bottom:1rem;
  font-size:1.25rem;
  font-weight: bold;
  }

  p.quotatext {
    color: #191919 !important;
  }

  #personal-settings .personal-info[class^='icon-'],
  #personal-settings .personal-info[class*=' icon-'] {
    opacity: unset !important;
  }

  .personal-settings-setting-box,
  #personal-settings .personal-info {
   margin-right: unset !important;
  }

  .personal-settings-language-box select{
    margin-bottom: 1rem !important;
  }

  #app-navigation.without-app-settings  img{
    width:24px !important;
    height:24px !important;
    vertical-align: text-bottom;
  }

  #app-navigation.without-app-settings ul li:hover img,
  #app-navigation.without-app-settings ul li.active img{
    filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
  }


  .app-password-row .icon{
    background-size: 24px !important;
  }
  #webdav-address .button{
    border-color: unset !important;
    background-color: unset !important;
    border-radius:unset !important;
    border: unset !important;
  }

  #webdav-address .clipboardButton {
    display: inline !important;
  }
  #webdav-address span{
    color:#e20074;
    padding-left: 0.25rem;
  }

  #webdav-address span:hover{
    text-decoration: underline;
  }

  #webdav-address div{
    margin-top: 1rem;
  }

  .devices-session{
    padding: 3rem 1rem !important;
  }

  #security{
    padding-left: 1rem !important;
  }

  .devices-session .clientslinks {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
 }

  #clientslinks{
    padding-bottom: 1.5rem;
  }
  #security thead tr{
    background-color: #e5e5e5;
  }

  #setting-tokens-table{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  #setting-session{
    padding-bottom: 1rem;
  }

  #settings-input input[type='text']{
    background-color: unset !important;
    border: 1px solid #191919;
  }
  #settings-input input:hover{
    border-color: #e20074 !important;
  }

  .create-session{
    margin-top: 0.5rem;
    padding: 0.563rem 1.5rem !important;
    border-color: #e20074 !important;
    color: #ffffff !important;
    display: inline-block;
    border-radius: 8px;
    font-family: TeleNeoWeb, TeleNeo, sans-serif !important;
    font-size: 1rem;
    line-height: 1.42857143;
    cursor: pointer;
    font-weight: 400;
    background-color: #e20074 !important;
	  margin-bottom: 8rem;
  }

  .app-password-code a{
    color: #e20074;
  }

  .app-password-code a:hover{
    text-decoration: underline;
  }

  .app-password-code{
    margin-top: 1rem;
    margin-bottom: 8rem;
	display: flex;
    align-items: center;
  }

  .app-password-username-row{
    display: table-cell;
    padding-right: 1rem;
  }

  .app-password-code .button{
    padding: 0.563rem 1.5rem !important;
    border-color: #e20074 !important;
    background-color: #e20074;
    color: #ffffff !important;
    display: inline-block;
    border-radius: 8px;
    font-family: TeleNeoWeb, TeleNeo, sans-serif !important;
    font-size: 1rem;
    line-height: 1.42857143;
    cursor: pointer;
    font-weight: 400;
    background-color: #e20074 !important;

  }

  .clientslinks a:nth-child(1){
    padding-right: 0.5rem;
  }

  #app-tokens-table .action-item__menutoggle--default-icon {
    background-position: center center !important;
  }

  #security table{
    max-width: 562px;
	border-collapse: collapse;
    width: 100% !important;
  }

  #security table th {
    background: #f2f2f2;
    font-size: 0.75rem;
    font-weight: bold;
    opacity: unset;
    padding: 0.625rem 0 0.625rem 0;
  }

  /* .popover__wrapper ul li button:hover{
    filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
    color: #e20074;
  } */

  #clientslinks a:nth-child(1) {
    padding-right: 0.5rem;
  }

  #app-tokens-table tbody tr{
    border-bottom: 1px solid hsl(0, 0%, 80%) !important;
  }

  #app-tokens-table tbody td{
    border-top: unset !important;
  }

  #security table tbody tr:hover, #security table tbody tr:focus, #security table tbody tr:active {
	background-color: var(--color-background-dark) !important;
  }

  #app-tokens-table tr th:nth-child(4) {
    padding-left: 1rem;
  }

  #personal-settings  input:not(:disabled):not(.primary):hover,
  #personal-settings  input:not(:disabled):not(.primary):focus,
  #personal-settings  input:not(:disabled):not(.primary).active{
      border-color:#e5e5e5 !important;
      background-color: #e5e5e5 !important;
    }

  .vue-tooltip {
      top: 12px !important;
  }

  .popover__wrapper .action-button__icon{
      background-position: center !important;
  }

  td.client div{
    opacity: unset !important;
  }

  .settings-progress-bar{
    display: flex;
    height: 8px;
    width: 100%;
    background: #f2f2f2;
    border-radius: 10px;
  }

  .settings-progress-bar .progress-bar {
    border-radius: 10px;
  }
  .settings-progress-bar .progress-bar:not(:first-child):before {
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
  }

  .quotatext-bg .quotatext {
    display: inline !important;
  }
  .quotatext-bg .space-occupied {
    font-size:0.975rem !important;
    float:right;
    display: inline;
  }

  #monthly-notifications-settings .settings-hint{
    margin-top: 8px !important;
    opacity: unset;
    color: #666666;
  }

  #monthly-notifications-settings h1{
    font-size: 20px;
    font-weight: bold;
    color: #191919;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  #monthly-notifications-settings {
    display: block;
    padding-left: 30px;
    max-width: 600px;
  }


