.nmc_welcome_popup-header h2 {
    float:left;
    color:#191919 !important;
    font-weight:bold !important;
    margin-top:unset !important;
}

 .modal-header {
  background-color: unset !important;
}

.modal-mask#nmc_welcome_popup .modal-container {
  max-height:600px !important;
}

.modal-header .nmc_welcome_popup-header {
  background-color: #ffffff !important;
  background-image: unset !important;
  padding:1.5rem !important;
}


#nmc_welcome_popup a.button {
  background-color: #e20074 !important;
  border-color: #e20074 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  padding:0.625rem 1.5rem !important;
  height:40px;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.625rem 1.5rem !important;
  width:auto !important;
  max-width: 180px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  display:inline-block;
}


#nmc_welcome_popup a.button:hover {
  background-color: #f90984 !important;
}


#nmc_welcome_popup select.primary, #nmc_welcome_popup button.primary, #nmc_welcome_popup .button.primary ,
#add_new_popup {
  border-radius: 8px !important;
  font-size: 1rem;
  font-weight: normal;
  padding:0.25rem 1.5rem 0.5rem 1.5rem !important;
  height:40px;
  background-color: #ffffff !important;
  border-color: #191919;
  margin:0 0.5rem 0 0 !important;
  color:#191919;
  width:auto !important;
  max-width: 180px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

#nmc_welcome_popup .modal-footer button {
  margin: unset !important;
}

#nmc_welcome_popup .modal-footer {
  margin:0rem 1.5rem 1.5rem 0rem !important;
}

#nmc_welcome_popup .modal-footer {
   overflow: unset !important;
   position: unset !important;
   display: unset !important;
   text-align: right;
   margin-top:2rem !important;
}



#nmc_welcome_popup select.primary:hover, #nmc_welcome_popup button.primary:hover, #nmc_welcome_popup .button.primary:hover {
  border-color: #e20074 !important;
  color:#e20074 !important;
  background-color:#ffffff !important;
}

#add_new_popup:hover {
  background-color: #f90984 !important;
}

#nmc_welcome_popup .modal-body {
  padding:1.5rem !important;
}

.modal-mask .modal-body .logo {
  background-size: cover !important;
  width: unset !important;
  height: unset !important;
  max-height: unset !important;
  margin: unset !important;
}

#nmc_welcome_popup .logo img {
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.modal-body .content {
  padding:1.25rem 0rem;
}

.modal-container {
  max-width:672px !important;
  max-height:600px !important;
  border-radius: 12px !important;
}

.modal-body a {
  color:#e20074 !important;
}

#nmc_welcome_popup .nmc_welcome_popup-header button.primary.modal-default-button {
  background-color: unset!important;
  border: unset!important;
  width:24px !important;
  height: 24px !important;
  background-repeat:no-repeat;
  padding:unset !important;
  float:right;
  margin:unset !important;
}

.modal-wrapper .modal-header {
  margin-left:unset !important;
  margin-right:unset !important;
}

#welcome_popup .icon-delete {
  display: inline-block;
  padding: 0.75rem 1.25rem !important;
}

.modal-mask .button {
  margin:0rem 0.188rem 0rem 0rem !important;
}

input#add_new_popup {
  margin-bottom:4rem !important;
}

#nmc_welcome_popup ol {
  margin-left:0.875rem !important;
}

 /* slide - forms  */

 #welcome_popup  h2 {
  margin-bottom: 1.5rem !important;
  font-size: 1.25rem !important;
}

h3.inlineblock {
  font-weight: bold !important;
}

#welcome_popup label div {
  color:#666666 !important;
}

#welcome_popup label input{
  height:48px !important;
  padding:0.75rem 0.75rem 0.75rem 0.688rem !important;
  border:1px solid #666666 !important;
  font-size:1rem;
  color:#666666 !important;
}

#welcome_popup textarea, div[contenteditable=true] {
  padding:0.75rem 0.75rem 0.75rem 0.688rem !important;
  border:1px solid #666666 !important;
  font-size:1rem;
  color:#666666 !important;
}

#welcome_popup label input:hover,
#welcome_popup textarea:hover,
div[contenteditable=true]:hover {
  border-color:#e20074 !important;
}

#welcome_popup input, #welcome_popup textarea {
  width: 540px !important;
}

.image-label #en-uploadimage,
.image-label {
  display:inline;
}


#welcome_popup.section {
  padding: 1.875rem 1.875rem 0rem 1.875rem !important;
}

.uploadButton {
  margin-top:2rem;
}

.section:not(.section-english) .settings-hint {
  border-bottom: 2px solid #e20074;
  padding-bottom: 0.25rem;
  text-align: center;
  width: 100px;
}

.button.icon-upload {
 border: unset !important;
 background-color: unset !important;
}

.section:not(:last-child) {
  border-bottom: unset !important;
}

#add_new_popup {
  background-color: #e20074 !important;
  border-color: #e20074 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  height: 40px !important;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.625rem 1.5rem!important;
}

#welcome_popup .icon-upload {
  background-image: var(--icon-pop-up-upload-image) !important;
  filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
}

.field-border {
  margin-top: 0.625rem;
  border: 1px solid #666666;
  padding: 0.75rem;
  height: 48px;
  border-radius: 4px;
  color:#666666 !important;
}

.field-border:hover {
  color:#e20074;
}

.button.icon-upload {
display: inline;
margin-top: -0.313rem;
width:auto !important;
}
